.Sidebar{
    position: relative;


    .sidebarWrapper{

        width: 225px;
        height: 100vh;
        z-index: 1038;
        position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: #212529;
    }
}