.Footer{
    width: 100%;
    position: absolute;
    bottom: 0;

    .footerWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 50px;
        background-color: #efefef;
        color: #212529;
        
    }
  
   
    
    .footerLeft{
       .copyright{
        p{
            display: flex;
            align-items: center;
            gap: 5px;
        }
       }
      
    }
    .footerRight{
       ul{
        display: flex;
        align-items: center;
        gap: 10px;
       }

    }
}